<ion-header>
    <ion-toolbar style="--background: #454545;">
      <ion-button fill="clear" slot="start" (click)="closeModal()">
        <ion-icon class="back"  color="primary" name="close" text="" ></ion-icon>
      </ion-button>
      <ion-title color="light" style="text-align: center;">Ordernar por</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-radio-group (ionChange)="orderBy($event.target.value)">
      <ion-item>
        <ion-label>Por Nombre A-Z</ion-label>
        <ion-radio slot="end" color="primary" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Por Nombre Z-A</ion-label>
        <ion-radio slot="end" color="primary" value="2"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de Instalación</ion-label>
        <ion-radio slot="end" color="primary" value="3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Apiario</ion-label>
        <ion-radio slot="end" color="primary" value="4"></ion-radio>
      </ion-item>
    </ion-radio-group>
</ion-content>
<ion-button style="bottom: 5px;" expand="block" color="primary" (click)="addFilter()">
  <ion-icon src="/assets/icon/order.svg"></ion-icon> Ordernar
</ion-button>
