<ion-header>
    <ion-toolbar style="--background: #454545;">
        <ion-buttons slot="start">
            <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title color="light" style="text-align: center;">Ubicación Geográfica</ion-title>
        <ion-button slot="end" fill="clear" class="shadow-0" routerLink="/cart" (click)="changeValue()">
            <ion-icon src="/assets/icon/location.svg"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="true"
            (mapClick)="changePickupMarkerLocation($event)">
        <agm-marker
                *ngIf="specificMarker"
                [latitude]="lat"
                [longitude]="lng"
                iconUrl="/assets/icon/bee-pin.png"></agm-marker>
        <ng-container *ngIf="!specificMarker">
            <agm-marker
                    *ngFor="let api of apiary | async ; let i = index"
                    [latitude]="api.latitude"
                    [longitude]="api.longitude"
                    iconUrl="/assets/icon/bee-pin.png">
                <agm-info-window>
                    <strong>{{api.name}}</strong>
                    <p>{{api.address}}</p>
                    <p>{{api.latitude}}, {{api.longitude}}</p>
                </agm-info-window>
            </agm-marker>
        </ng-container>
    </agm-map>
</ion-content>
