<div>
  <ion-header >
    <ion-toolbar style="--background: #454545;">
        <!--<ion-buttons slot="start" >
          <ion-menu-button color="primary" menu="primerMenu" (click)="toggleMenu()"></ion-menu-button>
        </ion-buttons>-->
        <ion-buttons slot="start" >
          <ion-button *ngIf="openmenu" slot="start" fill="clear" (click)="closeLeftMenu()">
            <ion-icon class="menu-button" color="primary" name="md-arrow-round-back"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!openmenu" slot="start" fill="clear"(click)="openLeftMenu()">
            <ion-icon class="menu-button" color="primary" name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="light" style="text-align: center;">{{titulo}}</ion-title>
        <!--<img slot="start" src="/assets/icon-estilos/beecloud.png">-->
        <!--<ion-searchbar class="searchbar-input" placeholder='Buscar'></ion-searchbar>
        <ion-button color="medium" slot="end" fill="clear" routerLink="/barcode" class="shadow-0" style="margin-left: -15%">
          <ion-icon src="/assets/icon/qr-code.svg"></ion-icon>
        </ion-button>-->
        <ion-button slot="end" fill="clear" class="shadow-0" routerLink="/cart">
          <ion-icon src="/assets/icon/logout.svg"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>
  <div [ngClass]="opened ? 'active' : ''" class="w3-sidebar w3-bar-block w3-card w3-animate-left panel" id="leftMenu" >
    <app-menu (click)="toggleMenu()"></app-menu>
  </div>
</div>




  