<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary" icon="ios-arrow-back" defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>