<ion-header><app-search titulo="Sincronizar"></app-search></ion-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label><h2><b>Maestros</b></h2></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let ing of syncmaster; let i = index">
            <ion-label>{{ing.name}}</ion-label>
            <ion-checkbox (ngModel)="ing.checked" (ionChange)="selectfilterapiary(ing)"></ion-checkbox>
        </ion-item>
    </ion-list>
    
    <ion-list>
        <ion-list-header>
            <ion-label><h2><b>Documentos</b></h2></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let ing of syncdocs; let i = index">
            <ion-label>{{ing.name}}</ion-label>
            <ion-checkbox (ngModel)="ing.checked" (ionChange)="selectfilterapiary(ing)"></ion-checkbox>
        </ion-item>
    </ion-list>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary" >
          <ion-icon src="/assets/icon/sincronizar.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button color="secondary" data-desc="Seleccionar Todo">
            <ion-icon src="/assets/icon/check-box.svg"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="secondary" data-desc="Sincronizar">
            <ion-icon src="/assets/icon/sincronizar.svg"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
