<ion-header>
  <ion-toolbar style="--background: #454545;">
    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon class="back"  color="primary" name="close" text="" ></ion-icon>
    </ion-button>
    <ion-title color="light" style="text-align: center;">Filtrar por</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label><h2><b>Apiarios</b></h2></ion-label>
      </ion-list-header>
      <ion-item  *ngFor="let ing of apiaries; let i = index">
        <ion-label>{{ing.name}}</ion-label>
        <ion-checkbox [(ngModel)]="ing.checked"  (ionChange)="selectfilterapiary(ing)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label><h2><b>Origen</b></h2></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let ing of origin; let i = index">
        <ion-label>{{ing.name}}</ion-label>
        <ion-checkbox [(ngModel)]="ing.checked" (ionChange)="selectfilterorigin(ing)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label><h2><b>Tipo</b></h2></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let ing of typpe; let i = index">
        <ion-label>{{ing.name}}</ion-label>
        <ion-checkbox [(ngModel)]="ing.checked" (ionChange)="selectfiltertype(ing)"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label><h2><b>Raza de la Reina</b></h2></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let ing of queen; let i = index">
        <ion-label>{{ing.name}}</ion-label>
        <ion-checkbox [(ngModel)]="ing.checked" (ionChange)="selectfilterqueen(ing)"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>
<ion-button style="bottom: 5px;" expand="block" color="primary" (click)="addFilter()">
  <ion-icon src="/assets/icon/filter.svg"></ion-icon> Filtrar
</ion-button>
