hr{
    border-top: 1px solid #e0e0e0;
  }
  .mgb-5{
    margin-bottom: 5px !important;
  }
  .fs-13{
    font-size: 13px !important;
    /*line-height: 19px !important;*/
  }
  .mgb-0{
    margin-bottom: 0px !important;
  }
  .mgt-5{
    margin-top: 5px !important;
  }
  .bdra-30{
    border:1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
  }
  .bdra-30{
    border-radius: 10px;
    overflow: hidden;
  }