<form (ngSubmit)="onSubmit(formdynamic)" [formGroup]="form">
 
  <ion-list>
    <section *ngFor="let control of controls ; let i = index ">
      <ion-item  (click)="toggleFunc(i);" color="secondary"><!-- *ngIf="visibleIndex==i"-->
        <ion-label><h2><b>{{control.label}}</b></h2></ion-label>
        <ion-icon *ngIf="visibleIndex==i" color="light" slot="end" name="ios-arrow-down"></ion-icon>
        <ion-icon *ngIf="visibleIndex!=i" color="light" slot="end" name="ios-arrow-forward"></ion-icon>
      </ion-item>
      <section><!-- *ngIf="visibleIndex==i"-->
        <ion-list class="ani-bottom-to-top mgb-0 mgt-5" *ngIf="control.controlType != 'multipleinput' && control.controlType != 'table' && control.controlType != 'multipleselect'">
          <ion-item  class="white-opct bdra-30">
            <ion-label *ngIf="control.controlType === 'textbox'" position="floating">{{control.label}}</ion-label>
            <ion-input *ngIf="control.controlType === 'textbox'" [formControlName]="control.key"
              [id]="control.key" [type]="control.type"  [placeholder]="control.label"  [(ngModel)]="formdynamic[i].data">
            </ion-input>
            <ion-label *ngIf="control.controlType === 'select'" position="floating">{{control.label}}</ion-label>
            <ion-select  [formControlName]="control.key" [id]="control.key" *ngIf="control.controlType === 'select'" [placeholder]="control.label" [(ngModel)]="formdynamic[i].data">
                <ion-select-option *ngFor="let option of control.options" [value]="option.label">{{option.label}}</ion-select-option>
            </ion-select>
            <ion-label *ngIf="control.controlType === 'checkbox'" position="floating">{{control.label}}</ion-label>
            <ion-select [formControlName]="control.key" [id]="control.key" *ngIf="control.controlType === 'checkbox'" multiple="true"  [placeholder]="control.label" [(ngModel)]="formdynamic[i].data">
                <ion-select-option *ngFor="let option of control.options" [value]="option.label">{{option.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <!--<ion-list class="ani-bottom-to-top mgb-0 mgt-5" >-->
            <!--<ion-item class="white-opct bdra-30" *ngFor="let option of control.options ; let j = index">
                <ion-label position="floating">{{option.label}} ({{option.um}})</ion-label>
                <ion-input [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j].data" [id]="control.key" type="text">
                </ion-input>
            </ion-item>-->
            <div *ngIf="control.controlType == 'multipleinput'">
              <ion-item *ngFor="let option of control.options ; let j = index" style="border:1px solid rgba(94, 94, 94, 0.48);border-radius: 5px;overflow: hidden;  background-color: rgba(0, 0, 0, 0); margin-top: 7px;">
                <!--<ion-label position="floating">{{option.label}} ({{option.um}})</ion-label>-->
                <ion-input  [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j].data" [id]="control.key" type="text" placeholder="{{option.label}} ({{option.um}})">
                </ion-input>
              </ion-item>
            </div>
            
        <!--</ion-list>-->
        <ion-list  class="ani-bottom-to-top mgb-0 mgt-5" *ngIf="control.controlType == 'table'">
            <section *ngFor="let option of control.options; let j = index">
              <ion-label><h2>{{option.name}}</h2></ion-label>
              <ion-row>
                  <ion-col size=4 > 
                    <ion-item class="white-opct bdra-30">
                      <ion-label position="floating">Marco</ion-label>
                      <ion-input [disabled]="option._number==0" [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j]._number" [id]="control.key" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size=4><!-- *ngIf="option.honey==1" -->
                    <ion-item class="white-opct bdra-30">
                      <ion-label  position="floating">Miel</ion-label>
                      <ion-input [disabled]="option.honey==0"  [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j].honey" [id]="control.key" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size=4 ><!-- *ngIf="option.breeding==1" -->
                    <ion-item class="white-opct bdra-30">
                      <ion-label position="floating">Cría</ion-label>
                      <ion-input [disabled]="option.breeding==0"  [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j].breeding" [id]="control.key" type="text"></ion-input>
                    </ion-item>
                  </ion-col>
              </ion-row>
            </section>
        </ion-list>
        <ion-list class="ani-bottom-to-top mgb-0 mgt-5" *ngIf="control.controlType == 'multipleselect'">
            <ion-list *ngFor="let option of control.options; let j = index">
                <ion-label><h2>{{option.name}}</h2></ion-label>

                <!--<ion-item  class="white-opct bdra-30" *ngFor="let suboption of option.treatment">
                    <ion-label position="floating">{{suboption.name}}</ion-label>
                      <ion-input [formControlName]="control.key"  [id]="control.key" type="text">
                    </ion-input>
                </ion-item>-->
                    <!--<ion-select multiple="true">
                      <ion--option *ngFor="let suboption of option.treatment">
                        {{suboption.name}}
                      </ion-option>
                    </ion-select>-->
                  <ion-item *ngFor="let suboption of option.treatment; let z = index" style="border:1px solid rgba(94, 94, 94, 0.48);border-radius: 5px;overflow: hidden;  background-color: rgba(0, 0, 0, 0); margin-top: 7px;">
                    <!--<ion-label position="floating">{{option.label}} ({{option.um}})</ion-label>-->
                    <ion-input [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j].data[z].data"[id]="control.key" type="text" placeholder="{{suboption.name}}">
                    </ion-input>
                  </ion-item>
                  <ion-item *ngFor="let suboption of option.task; let z = index" style="border:1px solid rgba(94, 94, 94, 0.48);border-radius: 5px;overflow: hidden;  background-color: rgba(0, 0, 0, 0); margin-top: 7px;">
                    <!--<ion-label position="floating">{{option.label}} ({{option.um}})</ion-label>-->
                    <ion-input [formControlName]="control.key" [(ngModel)]="formdynamic[i].data[j].data[z].data"[id]="control.key" type="text" placeholder="{{suboption.name}}">
                    </ion-input>
                  </ion-item>
            </ion-list>
        </ion-list>
      </section>
    </section>
  </ion-list>
</form>