<app-searchbar></app-searchbar>
<ion-content>
  <ion-card>
      <div class="container">
          <div class="centered"><ion-label color="light"><b>TIENDAS ESTILOS</b></ion-label></div>
      </div>
  </ion-card>
  <div class=ion-padding>
      <button class="ion-button butt" routerLink="/list">
        <div>
          <ion-icon class="button-icon" color="primary" src="assets/icon/list.svg"></ion-icon>
          <ion-label color="medium"><b>Buscar por Lista</b></ion-label>
        </div>
      </button>
      <button class="ion-button butt" routerLink="/maps">
        <div>
          <ion-icon class="button-icon" color="primary" name="pin"></ion-icon>
          <ion-label color="medium"><b>Buscar por Mapa</b></ion-label>
        </div>
      </button>
  </div>
  
</ion-content>
