ion-button div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
.button-icon {
    font-size: 30px; //Preferred size here
}
ion-button {
    --width: 60px;
    --height: 60px;
    --border-radius: 10%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }
.butt {
    border: 1px;
    background-color: whitesmoke;
    height:75px;
    width:46%;
    cursor:pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
    margin-right: 2%;
}
.butt div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
.container{
    position: relative;
    text-align: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),url('https://www.mallplaza.com.pe/media/stores/estilos/gallery/store_mall_5ba580d8d0be6.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
}
.centered {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, -50%);
}
ion-badge{
    position: absolute;
    right: 0px;
    top: 0px;
}