<ion-header>
  <app-searchbar titulo="Mi Perfil"></app-searchbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding-top: 5%;">
    <ion-avatar>
      <img class="thumb" src="/assets/icon-estilos/logo-beecloud.png">
    </ion-avatar>
    <br>
    <ion-label>
      <b><h2>{{currentUser.name}}</h2></b>
      <p>{{currentUser.username}}</p>
      <p>{{currentUser.email}}</p>
    </ion-label>
  </div>
  <hr>
  <ion-list>
      <!--<ion-item (click)="changePassword()" detail>
        <ion-icon class="button-icon"  slot="start" color="primary" src="/assets/icon/candado.svg"></ion-icon>
        <ion-label><h3>Cambiar Contraseña</h3></ion-label>
      </ion-item>-->
      <ion-item (click)="authService.logout()" detail>
        <ion-icon class="button-icon"  slot="start" color="primary" src="/assets/icon/logout.svg"></ion-icon>
        <ion-label><h3>Cerrar Sesión</h3></ion-label>
      </ion-item>
  </ion-list>
  
</ion-content>
