<ion-header>
  <ion-toolbar style="--background: #454545;">
    <ion-button fill="clear" slot="start" (click)="closeModal()">
      <ion-icon class="back"  color="primary" name="close" text="" ></ion-icon>
    </ion-button>
    <ion-title color="light" style="text-align: center;">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Contraseña Actual <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nueva Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
  </ion-list> 
  <br>
  <ion-button expand="block" color="primary">
    <ion-icon src="/assets/icon/candado.svg"></ion-icon> Cambiar Contraseña
  </ion-button>
</ion-content>
