<ion-content>
  <ion-slides pager="true" mode="ios">
    <ion-slide style="background-position: center;background-image :linear-gradient(to bottom, rgba(255, 255, 255, 0.60), rgba(251, 152, 14, 0.50)),url(/assets/img/1.jpg)" >
      <ion-thumbnail>
        <img src="assets/icon-estilos/beecloud.png">
      </ion-thumbnail>
      <h2><b>Bienvenido a CloudBee</b></h2>
      <p>Te invitamos a conocer CloudBee</p>
    </ion-slide>
    <ion-slide>
      <div class="ion-padding" style="height: 100%; width: 90%;">
        <div class="logo">
          <img class="logoimg" src="/assets/icon-estilos/logo-beecloud.png">
          <br>
        </div>
        <div style="text-align: center;">
            <img  src="/assets/icon-estilos/logo-light.png">
        </div>
        <br>
        <div class="form">
          <div class="form" style="text-align:left;">
            <ion-item lines="none" class="bdra-30">
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input type="text" name="username" required="true" placeholder="Usuario" [(ngModel)]="email"></ion-input>
            </ion-item>
          <br>
            <ion-item lines="none" class="bdra-30">
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-input name="password" type="password" required="true" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
            </ion-item>
          </div>
          <div text-center style=" padding-top: 7%;">
            <ion-button  style="height: 50px;" center type="submit" expand="block" shape="" color="primary" (click)="loginUser()"><b>   Iniciar Sesión   </b></ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <!--<ion-button style="margin-top: 10%" (click)="loginUser()" expand="block" shape="round" color="primary"  type="submit">
    <b>INICIAR SESIÓN</b>
  </ion-button>-->
</ion-content>
