
.thumb{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.logo{
    text-align: center;
}
.form{
    margin-top: 5%;
}
.close{
    position: absolute;
    right: 0px;
    top: 0px;
}
.logoimg{
    height: 100px;
    width: 100px;
    margin-top: 15%;
}
.mgb-5{
	margin-bottom: 5px !important;
}
.fs-13{
	font-size: 13px !important;
	/*line-height: 19px !important;*/
}
.mgb-0{
	margin-bottom: 0px !important;
}
.mgt-5{
	margin-top: 5px !important;
}
.bdra-30{
    border:1px solid #e0e0e0;
	border-radius: 30px;
	overflow: hidden;
}
.bdra-30{
	border:1px solid rgba(94, 94, 94, 0.48);
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}
ion-slide {
    height: 100vh;
    flex-direction: column;
    background-size: cover;
}
ion-slides {
    --bullet-background: rgba(224, 224, 224, 0.9);
    --bullet-background-active: rgba(235, 235, 235, 0.97);
}
h2 {
    margin-top:80% !important;
    color: white;
}
p {
    width:80%;
    display:block;
    margin: 0 auto;
    font-size:.9em;
    color:white;
}
ion-thumbnail{
    position: absolute;
    left: 40px;
    top: 40px;
}