<ion-header>  <ion-toolbar style="--background: #454545;">
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="text-align: center;">{{hives.code}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item lines="none">
        <ion-avatar slot="start">
            <img src="/assets/icon-estilos/logo-beecloud.png">
        </ion-avatar>
        <ion-label>
                <h2><b>Código Inspección: {{code}}</b></h2>
                <p>Colmena: {{hives.code}}</p>
                <p>Apiário: {{hives.codeapiary}} - {{hives.nameapiary}}</p>
        </ion-label>
    </ion-item>
    <hr>
    <div *ngIf="controls" >
        <dynamic-form #dynamicForm="dynamicForm" [controls]="controls" [form]="form" [formdynamic]="formdynamic"></dynamic-form>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button style="bottom: 5px; height: 45px;" expand="block" color="primary" (click)="submitForm($event)">
            Guardar&nbsp;<ion-icon name="ios-archive" ></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-footer>