<div>
    <ion-header>
        <ion-toolbar style="--background: #454545;">
            <ion-buttons slot="start">
                <ion-button *ngIf="openmenu" slot="start" fill="clear" (click)="closeLeftMenu()">
                    <ion-icon class="menu-button" color="primary" name="md-arrow-round-back"></ion-icon>
                </ion-button>
                <ion-button *ngIf="!openmenu" slot="start" fill="clear" (click)="openLeftMenu()">
                    <ion-icon class="menu-button" color="primary" name="menu"></ion-icon>
                </ion-button>
            </ion-buttons>
            <img slot="start" src="/assets/icon-estilos/beecloud.png" >
            <ion-searchbar class="searchbar-input" placeholder='Buscar' [(ngModel)]="searchTerm"  (ionInput)="setFilteredItems()"></ion-searchbar>
            <ion-button slot="end" fill="clear" class="shadow-0" (click)="logoutUser()">
                <ion-icon src="/assets/icon/logout.svg"></ion-icon>
            </ion-button>
        </ion-toolbar>
    </ion-header>
    <div [ngClass]="opened ? 'active' : ''" class="w3-sidebar w3-bar-block w3-card w3-animate-left panel" id="leftMenu">
        <app-menu (click)="toggleMenu()"></app-menu>
    </div>
</div>
<!--<ion-row class="tools-list" style="text-align: center; border-bottom: #454545;">
    <ion-col>
        <ion-button expand="block" color="medium" fill="clear" (click)="filterBy()">
            <ion-icon src="/assets/icon/filter.svg"></ion-icon>
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="block" color="medium" fill="clear" (click)="orderBy()">
            <ion-icon src="/assets/icon/order.svg"></ion-icon>
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="block" color="medium" fill="clear" (click)="changeView()">
            <ion-icon *ngIf="viewproduct=='list'" src="/assets/icon/menu.svg"></ion-icon>
            <ion-icon *ngIf="viewproduct=='grid'" src="/assets/icon/lista.svg"></ion-icon>
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="block" color="medium" fill="clear">
            <ion-icon src="/assets/icon/informacion.svg"></ion-icon>
        </ion-button>
    </ion-col>
</ion-row>-->
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Actualizando..."
                               refreshingSpinner="crescent"
                               refreshingText="Actualizando">

        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="viewproduct=='list'">
        <ion-item-sliding *ngFor="let y of hives">
            <ion-item detail> 
                <div style="text-align: center;" slot="start">
                    <!--<ion-badge class="visit" color="success">
                        <ion-icon name="csheckmark"></ion-icon>
                    </ion-badge>-->
                    <ion-icon style="font-size: 70px;" color="primary" src="/assets/icon/hive.svg"></ion-icon>
                    <ion-badge class="apiary" style="background-color: #454545;">{{y.nameapiary}}</ion-badge>
                </div>
                <ion-label>
                    <p style="color:#fa9200;"><b>{{y.code}}</b></p>
                    <p>Origen: {{y.origin}} </p>
                    <p>Raza de la Reina: {{y.queenrace}}</p>
                    <p>Fecha: {{y.date_installation}}</p>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option color="primary" [routerLink]="['/maps', y.id]">
                    <ion-icon name="pin"></ion-icon>
                    Ubicación
                </ion-item-option>
                <ion-item-option color="secondary" [routerLink]="['/forminspection',y.code]">
                    <ion-icon src="/assets/icon/prueba.svg"></ion-icon>
                    Evaluación
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <section *ngIf="viewproduct=='grid'">
        <ion-row style="text-align: center !important;">
            <ion-col class="grid-product" size=6 *ngFor="let y of hives" style="text-align: center;">
                <section [routerLink]="['/forminspection',y.code]">
                    <div style="position:relative;" style="text-align: center;">
                        <ion-badge class="apiary2" style="background-color: #454545;">{{y.name}}</ion-badge>
                        <ion-badge class="visit" color="success">
                            <ion-icon name="checkmark"></ion-icon>
                        </ion-badge>
                        <ion-icon style="font-size: 70px;" color="primary" slot="start"
                                  src="/assets/icon/hive.svg"></ion-icon>
                    </div>
                    <ion-label>
                        <h2 style="color:#fa9200;"><b>{{y.code}}</b></h2>
                        <p>Origen: {{y.origin}} </p>
                        <p>Raza de la Reina: {{y.queenrace}}</p>
                        <p>Fecha: {{y.date_installation}}</p>
                    </ion-label>
                </section>
            </ion-col>
        </ion-row>
    </section>
</ion-content>
