ion-slide {
    height: 30vh;
    flex-direction: column;
    background-size: cover;
}
ion-img {
    max-width: 50vw;
    max-height: 50vh;
}
.login{
    background-color: #f7f7f7;
}
ion-card{
    box-shadow: none !important;
}
.panel{
    display: none;
}
.panel.active{
    display: block;
}
ion-searchbar{        
    .searchbar-input-container{            
        .searchbar-input{
            border-radius: 20px;
        }
    }
 }
.visit{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 100%;
}
.apiary{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 60%;
}
.apiary2{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 60%;
}
 .tools-list {
    border-top: 1px solid #e0e0e0;
}
 hr{
    border-top: 1px solid #e0e0e0;
  }
.thumb{
    width: 100px;
    height: 100px;
    object-fit: cover;
    text-align: center;
}
.thumb2{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.grid-product{
    border: 1px solid #e0e0e0;
}
 .menu-button{ font-size: 25px; }
 .w3-sidebar{z-index: 10; height:100%;width:75%;background-color:#fff;position:fixed!important;overflow:auto}
 w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
 .w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
 .w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
 
 .w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
 .w3-bar-block.w3-center .w3-bar-item{text-align:center}
 .w3-block{display:block;width:100%}
 .w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
 .w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
 .w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}