<ion-toolbar style="--background: #454545;">
    <ion-buttons slot="start">
        <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="text-align: center;">{{titulo}}</ion-title>
    <ion-button slot="end" fill="clear" class="shadow-0" routerLink="/cart">
        <ion-icon src="/assets/icon/location.svg"></ion-icon>
    </ion-button>
</ion-toolbar>
