  <ion-toolbar style="--background: #454545;">
    <ion-buttons slot="start">
      <ion-back-button color="primary" icon="ios-arrow-back" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!--<img slot="start" src="/assets/icon-estilos/beecloud.png">-->
    <!--<ion-searchbar class="searchbar-input" placeholder='Buscar'></ion-searchbar>
    <ion-button color="medium" slot="end" fill="clear" routerLink="/barcode" class="shadow-0" style="margin-left: -15%">
      <ion-icon src="/assets/icon/qr-code.svg"></ion-icon>
    </ion-button>-->
    <ion-title color="light" style="text-align: center;">{{titulo}}</ion-title>
    <ion-button slot="end" fill="clear" class="shadow-0" routerLink="/cart">
      <ion-icon src="/assets/icon/logout.svg"></ion-icon>
<!--        <ion-icon src="/assets/icon/location.svg"></ion-icon>-->
    </ion-button>
  </ion-toolbar>
