
<ion-list>
    <ion-item lines="none" routerLink="/home">
        <ion-icon slot="start" color="primary" src="assets/icon/home.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
    </ion-item>
    <ion-item lines="none" routerLink="/user">
        <ion-icon slot="start" color="primary" name="ios-contact" ></ion-icon>
        <ion-label>Mi Perfil</ion-label>
    </ion-item>
    <hr>
    <ion-item lines="none" routerLink="/forminspection">
        <ion-icon slot="start" color="primary" src="assets/icon/prueba.svg"></ion-icon>
        <ion-label>Formulario</ion-label>
    </ion-item>
    <!--<ion-item lines="none" routerLink="/barcode">
        <ion-icon slot="start" color="primary" src="assets/icon/qr-code.svg"></ion-icon>
        <ion-label>Escanear QR</ion-label>
    </ion-item>-->
    <ion-item lines="none" routerLink="/maps">
        <ion-icon slot="start" color="primary" src="assets/icon/location.svg"></ion-icon>
        <ion-label>Ubicación Geográfica</ion-label>
    </ion-item>
    <hr>
    <!--<ion-item lines="none" routerLink="/syncup">
        <ion-icon slot="start" color="primary" src="assets/icon/sincronizar.svg"></ion-icon>
        <ion-label>Sincronizar</ion-label>
    </ion-item>-->
</ion-list>